body{
   background-image: url(bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   
}
.header{
    width: 1380px; height: 130px;
    background-color: #ffffff80;
    margin:5px auto ;
    border-radius: 25px;
}
.box{
    width: 1380px; height: 745px;
    background-color: #ffffff80;
    border-radius: 25px;
    margin:auto;  margin-top: 5px;
    
    
}
.box1{
    width: 1380px;height: 150px;
    display: inline-block;
    background-color: #1A1A1A;
    margin-left: 195px; margin-bottom:-19px ;
    border-radius: 25px;
}
.box2{
    width: 1180px;height: 139px;
    background-color: #4e4e4e25;
    display: inline-block;
    margin-left: 100px;margin-top: 30px;    
    border-radius: 25px ;
    border: 5px outset rgb(252, 252, 252);
    
}
.navbar{
    width: 1380px; height: 55px;    
    background-color: #ffffff80;
    border-radius: 25px;
    margin: auto; margin-top: 5px;  
}
.navboxbar{
    width: 1180px; height: 55px;
    background-color: blue;
    margin-left: 100px;
}
.logo{
    width: 130px;height: 140px;
    background-color: rgba(224, 210, 210, 0);
    margin-left:90px;  
}
.logo:nth-child(1){
    position: absolute;
    right:310px;
}
.name{
    position: absolute;
    top: 35px; right: 690px;
    font-size: 55px;
    font-weight: 500;
    font-family: GFS;
}
.navbox180{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 180px; height: 30px;
    background-color: #111111 ;
    border-radius: 25px;
    margin-top:7.5px;margin-left: 55px; 
    text-align: center;
    border: 5px outset rgb(252, 252, 252);
}
.navbox180:nth-child(4){
    border: 5px  solid rgb(0, 170, 0);
}
@font-face {
    font-family: "Digital";
    src: url("font/digital-7.ttf") format("truetype");
  }
@font-face {
    font-family: "GFS";
    src: url(font/Faustina-VariableFont_wght.ttf);
}
a{
    text-decoration: none;
}
.separator {
    height: 10px;
    margin-right:35px ;
    
    background-color: black;
    display:inline-block;
    }
.box-image{
    display: inline-block;
    background-image: url(background.png);  
    width: 1180px; height: 437px;
    margin-top: 60px; margin-left: 100px;
    border-radius: 25px;
    border: 5px outset rgb(252, 252, 252);
        
}

.box-images:first-child{
    margin:0px;
}

.box-images{
    display: inline-block;
    width: 260px;height: 139px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-left: 42.6px;
}
.b-imageC{
    display: inline-block;
    width: 100px;height: 100px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 165px; margin-top: 60px;
    border-radius: 25px;
}
.b-imageC:last-child{
    margin-left:125px
}
.fb{
    display: inline-block;  
    background-image: url(fb.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.tw{
        display: inline-block;  
        background-image: url(tw.png);  
        width: 1019px;height: 933px;
        max-width: 100%;
        max-height: 100%;
        object-fit: fill;
        background-size: cover; 
        border-radius: 25px;
}
.in{
    display: inline-block;  
    background-image: url(in.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.cv{
    display: inline-block;  
    background-image: url(cv.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}

.g1{
    display: inline-block;  
    background-image: url(g1.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.g2{
    display: inline-block;  
    background-image: url(g2.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.g3{
    display: inline-block;  
    background-image: url(g3.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.g4{
    display: inline-block;  
    background-image: url(g4.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.g5{
    display: inline-block;  
    background-image: url(g5.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.g6{
    display: inline-block;  
    background-image: url(g6.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
}
.image1{
    display: inline-block;  
    background-image: url(picture1.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px;
    
}
.image2{
    display: inline-block;  
    background-image: url(g10.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px; 
}
.image3{
    display: inline-block;  
    background-image: url(g8.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px; 
}
.image4{
    display: inline-block;  
    background-image: url(g9.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px; 
}
.imglogo{
    display: inline-block;  
    background-image: url(logo.png);  
    width: 1019px;height: 933px;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    background-size: cover; 
    border-radius: 25px; 
}
h1{
    color: #D9D9D9;
    font-size: 60px;
    margin-left: 100px; margin-top: 50px;
}
.h1-ab{
    margin-top: 25px;
    color: black;
    font-size:45px;
    text-align:center;
    text-decoration: underline


}
p{
    color: #D9D9D9;
    font-size: 35px;
    margin-top: 25px; margin-left: 100px;
    
}
p:nth-child(1){
    color: #ffffff;
    font-size: 20px;
    margin-top: 5px; margin-left: -1px;
    font-family: Digital;
}
.p-ab{
    font-size: 35px;
    line-height: 1.5;
    margin-top: 45px;margin-left: 45px;
    
  
}

.mpbox1{
    display: inline-block;
    width: 1258px; height:197px;
    background-color: #D9D9D9;
    border-radius: 25px;
    border:5px solid white;
    margin-left: 61px; margin-top: 45px;
}
.mpbox2{
    display: inline-block;
    width: 350px; height: 400px;
    background-color: #D9D9D9;
    border-radius: 25px;
    border:3px solid white;
    margin-left:58px; margin-top: 45px; margin-right: 40px;
}

.g-box{
    display: inline-block;
    width: 649px; height: 307px;
    background-color: rgba(245, 245, 220, 0);
    border-radius: 25px;
    margin-left: 29px; margin-top: 45px;
    
}
.g-box1{
    display: inline-block;
    width: 313px; height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-left: 24px; margin-top: 20px
}
.c-box{
    display: inline-block;
    width: 512px;height: 654px;
    background-color: #D9D9D9;
    border-radius: 25px;
    margin-left: 40px; margin-top: 25px;
    border:5px solid white;
}
.c-box1{
    position: absolute;
    display: inline-block;
    width: 1180px;height: 312px;
    background-color: #D9D9D9;
    border-radius: 25px;
    margin-top: 25px; margin-left: 95px;
    border:5px solid white;
}

.c-box1:nth-child(2){   
    margin-top: 365px; 
}
.c-boxtext{
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 2;
}
.c-boxtext1{
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
}

.abtext{
    position: relative;
    text-align: center;
    font-size: 20px;
    left: 50px; top: 25px;
    text-decoration: none;
    line-height: 2.4;
}
li{
    text-align:left;
}